@import "./__subtitle/plusesBox__subtitle.scss";
@import "./__text/plusesBox__text.scss";

.plusesBox {
  display: flex;
  flex-direction: row;
  list-style-type: none;
  margin-top: 5em;
  gap: 2.5em;
}

@media screen and (max-width: $mobile-width) {
  .plusesBox {
    flex-wrap: wrap;
  }
}
