@font-face {
  font-family: "Grafik LCG";
  src: url("/assets/fonts/GraphikLCG-Regular.woff2") format("woff2");
  font-weight: 800;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Grafik LCG";
  src: url("/assets/fonts/GraphikLCG-Medium.woff2") format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}

@font-face {
  font-family: "Grafik LCG";
  src: url("/assets/fonts/GraphikLCG-Bold.woff2") format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
