.header__contacts {
  text-align: center;
  list-style-type: none;
}

.header__contacts-link {
  color: inherit;
  font-size: 10px;
  text-decoration: none;
}

.header__contacts-email {
  margin-bottom: 0.5rem;
}
