.modal__backdrop {
  position: fixed;
  top: 0;
  right: 0;
  bottom: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
  pointer-events: none;
  background: rgba(0, 0, 0, 0.495);
  transition: 0.3s ease-in;
}

.modal__content {
  margin: 2.5% auto;
  position: relative;
  width: 35%;
  transition: opacity 0.3s ease-in;
  background-clip: padding-box;
  border-radius: 0.3rem;
  box-shadow: 0 0 7px 0 rgba(0, 0, 0, 0.3);
  background-color: $gray;
  border: 1px solid $gray;
  text-align: center;

  h2 {
    margin-top: 2em;
  }
}

.modal__show .modal__backdrop,
.modal__show .modal__content {
  opacity: 1;
  z-index: 1050;
  pointer-events: auto;
  overflow-y: auto;
}

.modal__btn-close {
  margin: 0.5em 1em 0 0;
  float: right;
  font-family: sans-serif;
  font-size: 24px;
  font-weight: 700;
  line-height: 1;
  color: $pink;
  opacity: 0.5;
  text-decoration: none;
  transition: 0.3s;
}

.modal__btn-close:focus,
.modal__btn-close:hover {
  text-decoration: none;
  cursor: pointer;
  opacity: 0.9;
}

.file-upload {
  .file-upload-select {
    display: block;
    color: #dbdbdb;
    cursor: pointer;
    text-align: left;
    overflow: hidden;
    position: relative;
    border-radius: 6px;
  }

  .file-upload-select {
    .file-select-button {
      padding: 10px;
      display: inline-block;
      width: 30%;
      font-size: 10px;
      margin-left: 5em;
      text-align: center;
    }

    .file-select-name {
      margin-left: 0.3em;
      font-size: 10px;
      text-transform: uppercase;
      font-weight: 600;
      display: inline-block;
      padding: 10px;
    }
  }

  input[type="file"] {
    display: none;
  }
}

@media screen and (max-width: $tablet-width) {
  .modal__content {
    width: 70%;
  }
}
