@import "./__box/mainBlock__box.scss";
@import "./__btn/mainBlock__btn.scss";

.mainBlock {
  background: url("../../img/main/mainImg.png") 0 0 / 100% no-repeat;
  height: 85vh;
  margin-top: 0;
  background-size: cover;

  .img {
    filter: brightness(40%);
  }

  a {
    color: inherit;
    text-decoration: none;
  }
}

@media screen and (max-width: $mobile-width) {
  .mainBlock {
    height: 63vh;
    background: url("../../img/main/lensmob.jpg") 0 0 / 100% no-repeat;

  }

}