@import "./__box/mainBlock__box.scss";
@import "./__btn/mainBlock__btn.scss";

.mainBlock {
    background: url("../../img/main/mainImg.png") 0 0 / 100% no-repeat;
    height: 52em;
    margin-top: 0;
    background-size: cover;

    .img {
        filter: brightness(40%);
    }
}