@import './_margin/subtitle_margin.scss';

.subtitle {
    font-size: 24px;
    font-weight: 700;
    color: $lightGray;
    text-transform: uppercase;
}

@media screen and (max-width: $mobile-width) {
    .subtitle_mob {
        font-size: 20px;
        font-weight: 600;
    }
}