.fadeAnimation {
  display: none;
  transform: translateY(-150%);
  animation: ani 1s forwards;
}

@keyframes ani {
  0% {
    transform: translateY(-150%);
  }

  100% {
    transform: translateY(0);
  }
}

@media screen and (max-width: $tablet-width) {
  .fadeAnimation {
    transform: none;
    animation: none;
  }
}
