.slick-track {
  display: flex;
  align-items: flex-start;
  text-align: center;
}

.slick-list {
  overflow: hidden;
}

.slider {
  margin-top: 6em;
  padding: 0 10em;
  position: relative;
  height: 5em;

  .slick-arrow {
    top: 10%;
    position: absolute;
    z-index: 10;
    font-size: 0;
    width: 60px;
    height: 60px;
    border: none;
    transition: 0.7s;
  }

  .slick-prev {
    left: 0;
    background: url("../../img/logo/prev.png") 0 0 / 100% no-repeat;
    margin-left: 30px;

    &:hover {
      background: url("../../img/logo/prevHover.svg") 0 0 / 100% no-repeat;
    }
  }

  .slick-next {
    right: 0;
    background: url("../../img/logo/next.png") 0 0 /100% no-repeat;
    margin-right: 30px;

    &:hover {
      background: url("../../img/logo/nextHover.svg") 0 0 / 100% no-repeat;
    }
  }

  img {
    max-width: 17em;
    transition: 0.3s;
    padding: 1em;

    &:hover {
      transform: scale(1.03);
    }
  }
}

.sliderClients {
  .slider__item {
    height: 7em;
  }
}

@media screen and (max-width: 810px) {
  .slider {
    padding: 0 5rem;
  }
  .slider .slick-arrow {
    width: 30px;
    height: 30px;
  }

  .slider img {
    max-width: 10em;
    padding: 0 3em;
  }
}
