.plusesBox__item3 {
    display: none;
    transform: translateY(-150%);
    animation: ani 2s forwards;
}

@keyframes ani {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}