.plusesBox__item1 {
    display: none;
    transform: translateY(-150%);
    animation: ani 1s forwards;
}

@keyframes ani {
    0% {
        transform: translateY(-150%);
    }

    100% {
        transform: translateY(0);
    }
}