.mainBlock__box {
    display: flex;
    flex-direction: column;
    justify-content: flex-end;
    width: 40%;
    height: 85%;
    margin-left: 5rem;

    h2 {
        margin-top: 0.7em;
        font-size: 14px;
    }
}