@import "./hamburger-btn/hamburger-btn.scss";
@import "./__container/_container";
@import "./__item/_item";
@import "./__link/_link";
@import "./__list/_list";
@import "./__contacts/_contacts";

.hamburger {
  position: fixed;
  display: block;
  top: 0;
  left: 0;
  width: 100%;
  height: 100vh;
  padding: 3rem 3rem;
  background-color: $gray;
  transform: translateX(-100%);
  transition: transform 0.5s;
  overflow: hidden;
}

.hamburger.active {
  transform: translateX(0);
}

.hamburger__button_none {
  display: none;
}

@media screen and (max-width: $mobile-width) {
  .hamburger__button_none {
    display: block;
  }
}
