.slick-track {
  display: flex;
  align-items: flex-start;
  text-align: center;
}

.slick-list {
  overflow: hidden;
}

.slider {
  padding: 0 8em;
  position: relative;
  height: 5em;
}
.slider .slick-arrow {
  top: 10%;
  position: absolute;
  z-index: 10;
  font-size: 0;
  width: 60px;
  height: 60px;
  border: none;
  transition: 0.7s;
}
.slider .slick-prev {
  left: 0;
  background: url("../../img/logo/prev.png") 0 0/100% no-repeat;
  margin-left: 30px;
}
.slider .slick-prev:hover {
  background: url("../../img/logo/prevHover.svg") 0 0/100% no-repeat;
}
.slider .slick-next {
  right: 0;
  background: url("../../img/logo/next.png") 0 0/100% no-repeat;
  margin-right: 30px;
}
.slider .slick-next:hover {
  background: url("../../img/logo/nextHover.svg") 0 0/100% no-repeat;
}
.slider img {
  max-width: 17em;
  transition: 0.3s;
  padding: 1em;
}
.slider img:hover {
  transform: scale(1.03);
}

.slider__item {
  height: 7em;
}

.partners {
  margin-top: 0;
  background-color: #1F1F1F;
  color: #E5E5E5;
  height: 30em;
}

.subtitle_padding {
  padding: 2em;
}

.subtitle_margin {
  margin-bottom: 2em;
  margin-left: 5%;
}

.subtitle {
  font-size: 17px;
  color: #E5E5E5;
}

.fadeAnimation {
  display: none;
  transform: translateY(-150%);
  animation: ani 1s forwards;
}

@keyframes ani {
  0% {
    transform: translateY(-150%);
  }
  100% {
    transform: translateY(0);
  }
}
.none {
  display: none;
}

.mainBlock__box {
  display: flex;
  flex-direction: column;
  justify-content: flex-end;
  width: 40%;
  height: 68%;
}

.mainBlock {
  background: url("../../img/main/mainImg.png") 0 0/100% no-repeat;
  height: 42em;
}
.mainBlock .img {
  filter: brightness(40%);
}

hr {
  background-color: #D7D6D6;
  border: none;
  width: 87%;
  height: 1px;
  margin-top: 0;
}

@keyframes float {
  0% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
  50% {
    box-shadow: 0 25px 15px 0px rgba(0, 0, 0, 0.2);
    transform: translatey(-20px);
  }
  100% {
    box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
    transform: translatey(0px);
  }
}
.messageAnimation {
  display: flex;
  flex-direction: row;
  width: 10%;
  height: 15%;
  margin-left: 87%;
}
.messageAnimation .avatar {
  display: none;
  align-self: flex-end;
  position: fixed;
  width: 80px;
  height: 80px;
  box-sizing: border-box;
  border-radius: 50%;
  overflow: hidden;
  box-shadow: 0 5px 15px 0px rgba(0, 0, 0, 0.6);
  transform: translatey(0px);
  animation: float 4s ease-in-out infinite;
}
.messageAnimation .avatar img {
  width: 100%;
  height: auto;
  transition: 0.2s;
}
.messageAnimation .avatar img:hover {
  transform: scale(1.05);
}

.title {
  color: #E5E5E5;
  font-size: 34;
}

@font-face {
  font-family: "RockStar";
  src: url(/assets/fonts/RockStar.woff2) format("woff2");
  font-weight: 200;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RockStar";
  src: url(/assets/fonts/RockStar-SemiBold.woff2) format("woff2");
  font-weight: 600;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "RockStar";
  src: url(/assets/fonts/RockStar-ExtraBold.woff2) format("woff2");
  font-weight: bold;
  font-style: normal;
  font-display: swap;
}
@font-face {
  font-family: "Graphik LCG";
  src: url(/assets/fonts/GraphikLCG-Regular.woff2) format("woff2");
  font-weight: normal;
  font-style: normal;
  font-display: swap;
}
* {
  margin: 0;
  padding: 0;
}

body {
  background-color: #1F1F1F;
  font-family: "RockStar", sans-serif;
  font-weight: 200;
  font-size: 1rem;
  color: #E5E5E5;
}

.btn-main {
  padding: 0.7rem 1.5rem;
  background-color: #8350F6;
  font-family: inherit;
  border: 1px solid #8350F6;
  border-radius: 3px;
  text-transform: uppercase;
  color: inherit;
  transition: background-color 0.3s linear;
  cursor: pointer;
}
.btn-main:hover {
  background-color: transparent;
}

.header__list {
  display: flex;
  justify-content: space-between;
  flex-wrap: wrap;
  align-items: center;
  list-style-type: none;
}

.header__button {
  display: block;
  font-family: inherit;
}

.header__item {
  margin: 0.5rem;
  text-transform: uppercase;
  transition: color 0.3s linear;
  font-family: inherit;
}

.header__link {
  padding: 0.5rem;
  color: inherit;
  font-family: inherit;
  text-decoration: none;
}
.header__link:hover {
  border-bottom: 1px solid #8350F6;
}

.header__logo {
  width: 4rem;
  height: auto;
}

.header__contacts {
  text-align: center;
  list-style-type: none;
}

.header__contacts-link {
  color: inherit;
  text-decoration: none;
}

.header__btn-container {
  margin: 1rem;
}

.header__container {
  display: flex;
}

.header {
  display: flex;
  justify-content: space-between;
  padding: 1rem 2rem;
  border-bottom: 0.5px solid white;
}

/*# sourceMappingURL=main.css.map */
